body {
    font-family: sans-serif;
    margin: 0px;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.blue, .on {
    background-color: #4682b4 !important;
    color: white !important;
}

.no-margin {
    margin: 0px;
}

header, section {
    padding: 20px;
}

section {
    background-color: #f6f7f8;
}

nav {
    text-align: right;
    padding: 0px 10px;
    /* position: sticky;
    top: 0;
    background-color: inherit; */
}

.item {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

header > p, section > p {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer {
    color: white;
    background-color: black;
    width: calc(100vw - 12px);
    padding: 3px 6px;
}

.profile {
    width: 200px;
}

.sections {
    margin: 40px 0px;
    vertical-align: top;
}

.section {
    padding: 10px;
    background-color: white;
    margin: 5px 0px;
}

.sub {
    margin-left: 25px;
}

.section p {
    margin: 0px;
}

.profile img {
    width: 100%;
}

.item img {
    width: 30%;
} 

.profile, .data {
    display: inline-block;
    vertical-align: top;
}

.data {
    width: calc(100vw - 270px);
    margin: 0 auto;
}

.anychart-credits {
    display: none !important;
}