body {
    font-family: sans-serif;
    margin: 0px;
    /* overflow: hidden; */
}

.center {
    text-align: center;
}

.blue {
    background-color: #4682b4;
    color: white;
}

.no-margin {
    margin: 0px;
}

header, section {
    padding: 20px;
}

section {
    background-color: #f6f7f8;
}

nav {
    text-align: right;
    padding: 0px 10px;
    position: sticky;
    top: 0;
}

.item {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

header > p, section > p {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer {
    color: white;
    background-color: black;
    width: calc(100vw - 12px);
    padding: 3px 6px;
}